*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.row .col-6 {
  background-color: aqua;
  width: 50%;
  font-size: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}

.header,
.nav-items ul,
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
}

.nav-items > ul > li {
  padding: 10px;
}

.header {
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
}
.res-container {
    display: flex;
    flex-flow: wrap;
}
.res-card {
  width: 20%;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

img {
    max-width: 100%;
}

.res-card>h3{
    margin: 0;
    padding: 10px;
}

.res-card>span {
    display: block;
}
.res-card>section{
    padding: 10px;
}