*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.row .col-6 {
    background-color: aqua;
    width: 50%;
    font-size: 20px;
}

.row .col-12 {
    background-color: aquamarine;
    width: 100%;
    font-size: 20px;
}

.row .col-6.right-section {
    background-color: beige;
}

.row .col-12.footer {
    background-color: aliceblue;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
}