body {
  font-family: 'Archivo', sans-serif;
}

.body-content {
  @media (min-width: 961px) {
    margin: 0 calc(10% + 36px);
  }

  .whats-in-your-mind {
    > div {
      overflow-x: auto;
      scrollbar-width: none; 
    }
    .filter-anchor {
      width: 144px;
      margin-right: 24px;
    }
  }
}
