header.header {
  background: #fff;
  padding: 0 20px;
  z-index: 999;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);

  > div {
    @media (min-width: 1200px) {
      width: 1200px;
    }

    .nav-items li a {
      color: #3d4152;
      font-weight: 500;
    }

    .cart-count {
      left: 5.5px;
    }
  }
}
